sam/statemachine/is_divisible.asl.json
{
  "StartAt": "SetConstants",
  "States": {
    "SetConstants": {
      "Type": "Pass",
      "ResultPath": "$.constants",
      "Parameters": {
        "integer": [0, [1, [2, [3, [4, [5, [6, [7, [8, [9, [10, [11, [12, [13, [14, [15, [16, [17, [18, [19, [20, [21, [22, [23, [24, [25, [26, [27, [28, [29, [30]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
      },
      "Next": "Init"
    },
    "Init": {
      "Type": "Pass",
      "Parameters": {
        "iterator.$": "$.constants.integer",
        "remainder.$": "$.constants.integer"
      },
      "ResultPath": "$.state",
      "Next": "Iterate"
    },
    "Iterate": {
      "Type": "Choice",
      "Choices": [
        {
          "NumericEqualsPath": "$.dividened",
          "Variable": "$.state.iterator[0]",
          "Next": "Judge"
        }
      ],
      "Default": "UpdateState"
    },
    "UpdateState": {
      "Type": "Pass",
      "Parameters": {
        "iterator.$": "$.state.iterator[1]",
        "remainder.$": "$.state.remainder[1]"
      },
      "ResultPath": "$.state",
      "Next": "ResetRemainderIfRequired"
    },
    "ResetRemainderIfRequired": {
      "Type": "Choice",
      "Choices": [
        {
          "NumericEqualsPath": "$.divisor",
          "Variable": "$.state.remainder[0]",
          "Next": "ResetRemainder"
        }
      ],
      "Default": "Iterate"
    },
    "ResetRemainder": {
      "Type": "Pass",
      "Parameters": {
        "iterator.$": "$.state.iterator",
        "remainder.$": "$.constants.integer"
      },
      "ResultPath": "$.state",
      "Next": "Iterate"
    },
    "Judge": {
      "Type": "Choice",
      "Choices": [
        {
          "NumericEquals": 0,
          "Variable": "$.state.remainder[0]",
          "Next": "True"
        }
      ],
      "Default": "False"
    },
    "True": {
      "Type": "Pass",
      "Result": true,
      "End": true
    },
    "False": {
      "Type": "Pass",
      "Result": false,
      "End": true
    }
  }
}
